body{
    font-family: 'Poppins', sans-serif;
}
.header-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: justify;
    background-color: black;
    color: white;
    padding: 30px;
    align-items: center;
    gap: 30px;
    border-radius: 20px;
}
.header-content{
    width: 90%;
}
.header-content h1{
 font-size: 70px;
 line-height: 80px;
}
.header-content p{
    font-size: 16px;
}
.header-image img{
    margin-right: 20px;
    width: 90%;
}
.header-content button{
    background-color: #DD0000;
    width: 150px;
    height: 36px;
    border-radius: 5px;
    font-size: 15px;
}
.header-content button a{
    text-decoration: none;
    color: white;
    
}
/* header End  */
